	/* style.css */

	:root {
	    --mj-green: #00571d;
	    --mj-yellow: #f9e547;
	    --mj-white: #fffef9;
	}
	
	body {
	    margin: 0;
	    font-family: "Sarabun", sans-serif;
	    background-color: var(--mj-white);
	}
	
	/* Header */
	.header {
	    display: flex;
	    align-items: center;
	    padding: 10px 20px;
	    background-color: var(--mj-yellow);
	}
	
	.logo {
	    width: 60px;
	    height: 60px;
	    transform: scale(1.5);
	    transform-origin: center;
	}
	
	.search-box {
	    margin-left: 20px;
	    flex: 1;
	    display: flex;
	    align-items: center;
	}
	
	.search-box input[type="text"] {
	    width: 100%;
	    padding: 10px;
	    font-size: 16px;
	    border: none;
	    border-radius: 5px 0 0 5px;
	}
	
	.search-box button {
	    padding: 10px;
	    background-color: var(--mj-green);
	    color: white;
	    border: none;
	    border-radius: 0 5px 5px 0;
	    cursor: pointer;
	}
	
	/* Menu */
	.nav {
	    display: flex;
	    justify-content: center;
	    background-color: var(--mj-green);
	}
	
	.nav a {
	    padding: 14px 20px;
	    text-decoration: none;
	    color: white;
	    border-right: 1px solid #ccc;
	}
	
	.nav a:hover {
	    background-color: #004414;
	}